.transactionHistory {
  text-align: center;

  border-collapse: collapse;
}

.item {
  padding: 10px;
  width: 170px;
  border: 1px solid grey;
}

.tableHead {
  background-color: rgba(0, 0, 255, 0.418);
  color: white;
}

.row:nth-child(2n) {
  background-color: rgba(135, 138, 139, 0.267);
}
